<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yfwang.androiddemo">

    <!-- 蓝牙授权 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 指纹权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".global.MobileApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MaterialDesignDemo.DrawerLayoutActivity" />
        <activity android:name=".activity.MaterialDesignDemo.FruitActivity" />
        <activity android:name=".activity.ShareElementDemo.FirstActivity" />
        <activity android:name=".activity.ShareElementDemo.SecondActivity" />
        <activity android:name=".activity.DraglayoutDemo.DraglayoutActivity" />
        <activity android:name=".activity.BlueToothDemo.BluetoothStateActivity" />
        <activity android:name=".activity.BlueToothDemo.BluetoothActivity" />
        <activity android:name=".activity.TimePickerDemo.TimePickerActivity" />
        <activity android:name=".activity.Dagger2Demo.Dagger2Activity"/>

        <service android:name=".service.BluetoothService" />

        <activity android:name=".activity.BezierDemo.ShoppingCartBezierActivity" />
        <activity android:name=".mvp.view.LoginActivity"/>
    </application>

</manifest>